* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
}

#headerPic {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 3rem;
  height: 4rem;
  width: 4rem;
}

#headerName {
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  /* margin-bottom: 2rem; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

input {
  height: 30px;
  margin-top: 1rem;
  text-align: center;
  border: 0;
  border-bottom: 3px solid black;
}

button {
  height: 2rem;
  width: 10rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 0;
  outline: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 2px #888888;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
}

.image {
  height: 280px;
  width: 280px;
}

#image-template {
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  position: fixed;
  top: 12%;
  left: 10%;
  right: 10%;
}

.close {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 13rem;
}

#headerPic2 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.sideBySide {
  display: flex;
}

.toBeCommented {
  margin-right: 20px;
  width: 50%;
}

.imageModal {
  height: 10rem;
  width: 10rem;
}

.commentsPlusSmiles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  width: 50%;
}

.modal {
  display: flex;
  flex-wrap: wrap;
}
